.selectable {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;

  &[data-is-selected='true'] {
    outline: 2px solid hsl(210 60% 60%);
    transform: scale(1);
    z-index: 1;
  }
}
