.layout {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 580px;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'resume-container chat'
    'resume-container chat';

  background-color: hsl(210deg 15% 6%);

  & > section[data-name='header'] {
    grid-area: header;
  }

  & > section[data-name='chat'] {
    grid-area: chat;
    overflow: auto;
  }

  & > section[data-name='panel'] {
    display: none;
    grid-area: panel;
    overflow: auto;
  }

  & > div[data-name='toolbar'] {
    grid-area: toolbar;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  & > div[data-name='resume'] {
    grid-area: resume-container;
  }
}

.resume-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
