.layout {
  display: grid;
  height: 100%;
  grid-template-columns: 580px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "header header"
    "panel resume-container";

  background-color: hsl(210deg 15% 6%);

  & > div[data-section='header'] {
    grid-area: header;
  }

  & > div[data-section='panel'] {
    grid-area: panel;
    overflow: auto;
  }

  & > div[data-section='toolbar'] {
    grid-area: toolbar;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  & > div[data-section='resume'] {
    grid-area: resume-container;
  }
}

.resume-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
