.panel {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 10px;
  background-color: hsl(210 10% 10%);

  & > fieldset {
    padding: 10px;
    background-color: hsl(210 10% 15%);
    border-radius: 6px;
    border: none;

    & > legend {
      padding: 0 5px;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      color: hsl(210 5% 70%);
      background-color: hsl(210deg 33% 26%);
    }
  }
}
