.root {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & > div {
    border: 1px solid hsl(0 0% 20%);
    background-color: black;
    padding: 10px;
    border-radius: 8px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;

  [data-full-width="true"] {
    grid-column: 1/-1;
  }

  [data-align="right"] {
    grid-column: 2;

    button {
      width: 100%;
      height: 40px;
    }
  }
}

