.theme-container {
  --resume-gap-small: 1mm;
  --resume-gap-medium: 2mm;
  --resume-gap-large: 4mm;

  --resume-padding-small: 1mm;
  --resume-padding-medium: 4mm;
  --resume-padding-large: 6mm;

  --resume-font-size-small: 10pt;
  --resume-font-size-medium: 12pt;
  --resume-font-size-large: 16pt;

  --resume-font-weight-light: 100;
  --resume-font-weight-regular: 200;
  --resume-font-weight-bold: 700;

  --resume-line-height-normal: 1.5;

  --resume-border-radius-small: 1mm;
  --resume-border-radius-medium: 2mm;
  --resume-border-radius-large: 4mm;
}

.theme-container[data-resume-theme='default'] {
  --resume-primary-background-color: hsl(0, 0%, 100%);
  --resume-primary-text-color: hsl(0, 0%, 6%);
  --resume-primary-foreground-color: hsl(0, 0%, 100%);
  --resume-primary-faded-color: hsl(0, 0%, 100%);

  --resume-secondary-background-color: hsl(0, 0%, 80%);
  --resume-secondary-foreground-color: hsl(0, 0%, 95%);
  --resume-secondary-faded-color: hsl(0, 0%, 90%);
  --resume-secondary-text-color: hsl(0, 0%, 20%);

  --resume-almost_black-background-color: hsl(0, 0%, 6%);
  --resume-almost_black-foreground-color: hsl(0, 0%, 6%);
  --resume-almost_black-faded-color: hsl(0, 0%, 6%);
  --resume-almost_black-text-color: hsl(0, 0%, 90%);

  --resume-black-background-color: hsl(0, 0%, 0%);
  --resume-black-foreground-color: hsl(0, 0%, 0%);
  --resume-black-faded-color: hsl(0, 0%, 0%);
  --resume-black-text-color: hsl(0, 0%, 90%);

  --resume-almost_white-background-color: hsl(0, 0%, 95%);
  --resume-almost_white-foreground-color: hsl(0, 0%, 95%);
  --resume-almost_white-faded-color: hsl(0, 0%, 90%);
  --resume-almost_white-text-color: hsl(0, 0%, 6%);

  --resume-white-background-color: hsl(0, 0%, 100%);
  --resume-white-foreground-color: hsl(0, 0%, 100%);
  --resume-white-faded-color: hsl(0, 0%, 100%);
  --resume-white-text-color: hsl(0, 0%, 6%);

  --resume-gray-background-color: hsl(0, 0%, 65%);
  --resume-gray-foreground-color: hsl(0, 0%, 80%);
  --resume-gray-faded-color: hsl(0, 0%, 80%);
  --resume-gray-text-color: hsl(0, 0%, 20%);

  --resume-gray-light-background-color: hsl(0, 0%, 80%);
  --resume-gray-light-foreground-color: hsl(0, 0%, 95%);
  --resume-gray-light-faded-color: hsl(0, 0%, 90%);
  --resume-gray-light-text-color: hsl(0, 0%, 20%);

  --resume-blue-background-color: hsl(199, 55%, 45%);
  --resume-blue-foreground-color: hsl(199, 55%, 55%);
  --resume-blue-faded-color: hsl(199, 55%, 65%);
  --resume-blue-text-color: hsl(0, 0%, 100%);

  --resume-red-background-color: hsl(0, 55%, 45%);
  --resume-red-foreground-color: hsl(0, 55%, 55%);
  --resume-red-faded-color: hsl(0, 55%, 65%);
  --resume-red-text-color: hsl(0, 0%, 100%);

  --resume-green-background-color: hsl(120, 55%, 45%);
  --resume-green-foreground-color: hsl(120, 55%, 55%);
  --resume-green-faded-color: hsl(120, 55%, 65%);
  --resume-green-text-color: hsl(0, 0%, 100%);

  --resume-yellow-background-color: hsl(60, 55%, 45%);
  --resume-yellow-foreground-color: hsl(60, 55%, 55%);
  --resume-yellow-faded-color: hsl(60, 55%, 65%);
  --resume-yellow-text-color: hsl(0, 0%, 100%);

  --resume-orange-background-color: hsl(30, 55%, 45%);
  --resume-orange-foreground-color: hsl(30, 55%, 55%);
  --resume-orange-faded-color: hsl(30, 55%, 65%);
  --resume-orange-text-color: hsl(0, 0%, 100%);

  --resume-purple-background-color: hsl(300, 55%, 45%);
  --resume-purple-foreground-color: hsl(300, 55%, 55%);
  --resume-purple-faded-color: hsl(300, 55%, 65%);
  --resume-purple-text-color: hsl(0, 0%, 100%);

  --resume-pink-background-color: hsl(300, 55%, 70%);
  --resume-pink-foreground-color: hsl(300, 55%, 90%);
  --resume-pink-faded-color: hsl(300, 55%, 65%);
  --resume-pink-text-color: hsl(0, 0%, 100%);
}

.theme-container[data-resume-theme='dark-space'] {
  --resume-primary-background-color: hsl(0, 0%, 0%);
  --resume-primary-foreground-color: hsl(0, 0%, 6%);
  --resume-primary-faded-color: hsl(0, 0%, 0%);
  --resume-primary-text-color: hsl(0, 0%, 90%);

  --resume-secondary-background-color: hsl(0, 0%, 10%);
  --resume-secondary-foreground-color: hsl(0, 0%, 30%);
  --resume-secondary-faded-color: hsl(0, 0%, 10%);
  --resume-secondary-text-color: hsl(0, 0%, 90%);

  --resume-almost-black-background-color: hsl(0, 0%, 6%);
  --resume-almost-black-foreground-color: hsl(0, 0%, 6%);
  --resume-almost-black-faded-color: hsl(0, 0%, 0%);
  --resume-almost-black-text-color: hsl(0, 0%, 90%);

  --resume-black-background-color: hsl(0, 0%, 0%);
  --resume-black-foreground-color: hsl(0, 0%, 0%);
  --resume-black-faded-color: hsl(0, 0%, 0%);
  --resume-black-text-color: hsl(0, 0%, 90%);

  --resume-almost-white-background-color: hsl(0, 0%, 95%);
  --resume-almost-white-foreground-color: hsl(0, 0%, 95%);
  --resume-almost-white-faded-color: hsl(0, 0%, 90%);
  --resume-almost-white-text-color: hsl(0, 0%, 6%);

  --resume-white-background-color: hsl(0, 0%, 100%);
  --resume-white-foreground-color: hsl(0, 0%, 100%);
  --resume-white-faded-color: hsl(0, 0%, 100%);
  --resume-white-text-color: hsl(0, 0%, 6%);

  --resume-gray-background-color: hsl(0, 0%, 35%);
  --resume-gray-foreground-color: hsl(0, 0%, 60%);
  --resume-gray-faded-color: hsl(0, 0%, 80%);
  --resume-gray-text-color: hsl(0, 0%, 100%);

  --resume-gray-light-background-color: hsl(0, 0%, 10%);
  --resume-gray-light-foreground-color: hsl(0, 0%, 30%);
  --resume-gray-light-faded-color: hsl(0, 0%, 10%);
  --resume-gray-light-text-color: hsl(0, 0%, 90%);

  --resume-blue-background-color: hsl(199, 55%, 35%);
  --resume-blue-foreground-color: hsl(199, 55%, 55%);
  --resume-blue-faded-color: hsl(199, 55%, 75%);
  --resume-blue-text-color: hsl(0, 0%, 100%);

  --resume-red-background-color: hsl(0, 55%, 35%);
  --resume-red-foreground-color: hsl(0, 55%, 55%);
  --resume-red-faded-color: hsl(0, 55%, 75%);
  --resume-red-text-color: hsl(0, 0%, 100%);

  --resume-green-background-color: hsl(120, 55%, 35%);
  --resume-green-foreground-color: hsl(120, 55%, 55%);
  --resume-green-faded-color: hsl(120, 55%, 65%);
  --resume-green-text-color: hsl(0, 0%, 100%);

  --resume-yellow-background-color: hsl(60, 55%, 35%);
  --resume-yellow-foreground-color: hsl(60, 55%, 55%);
  --resume-yellow-faded-color: hsl(60, 55%, 65%);
  --resume-yellow-text-color: hsl(0, 0%, 100%);

  --resume-orange-background-color: hsl(30, 55%, 45%);
  --resume-orange-foreground-color: hsl(30, 55%, 55%);
  --resume-orange-faded-color: hsl(30, 55%, 65%);
  --resume-orange-text-color: hsl(0, 0%, 100%);

  --resume-purple-background-color: hsl(300, 55%, 45%);
  --resume-purple-foreground-color: hsl(300, 55%, 55%);
  --resume-purple-faded-color: hsl(300, 55%, 65%);
  --resume-purple-text-color: hsl(0, 0%, 100);

  --resume-pink-background-color: hsl(300, 35%, 30%);
  --resume-pink-foreground-color: hsl(300, 80%, 73%);
  --resume-pink-faded-color: hsl(300, 55%, 65%);
  --resume-pink-text-color: hsl(0, 0%, 100%);
}

.resume-gap-default { gap: var(--resume-gap-default); }
.resume-gap-small { gap: var(--resume-gap-small); }
.resume-gap-medium { gap: var(--resume-gap-medium); }
.resume-gap-large { gap: var(--resume-gap-large); }

.resume-padding-small {
  padding: calc(var(--resume-padding-small) / 2) var(--resume-padding-small);
}
.resume-padding-medium {
  padding: calc(var(--resume-padding-medium) / 2) var(--resume-padding-medium);
}
.resume-padding-large {
  padding: calc(var(--resume-padding-large) / 2) var(--resume-padding-large);
}

.resume-font-size-small { font-size: var(--resume-font-size-small); }
.resume-font-size-medium { font-size: var(--resume-font-size-medium); }
.resume-font-size-large { font-size: var(--resume-font-size-large); }

.resume-font-weight-light { font-weight: var(--resume-font-weight-light); }
.resume-font-weight-regular { font-weight: var(--resume-font-weight-regular); }
.resume-font-weight-bold { font-weight: var(--resume-font-weight-bold); }

.resume-border-radius-small { border-radius: var(--resume-border-radius-small); }
.resume-border-radius-medium { border-radius: var(--resume-border-radius-medium); }
.resume-border-radius-large { border-radius: var(--resume-border-radius-large); }

.resume-line-height-normal { line-height: var(--resume-line-height-normal); }
