* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito Sans",-apple-system,".SFNSText-Regular","San Francisco",BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
}

html, body, #root {
  height: 100%;
  padding: 0 !important;
}

#root {
  background-color: hsl(210deg, 5%, 5%);
}
